@mixin zero-margin($pad-up-dn, $pad-left-right){
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
	background-color: #e4dfdf;
	@include zero-margin(10px,1%);
}

.row-content {
  @include zero-margin(20px,0px);
  min-height: 50px;
}

a.active.nav-link{
	border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #207809!important;
	color: #207809!important;
}

.nav-custom .nav-brand, 
.nav-custom .nav-text { 
    color: #000000; 
} 

.bar-5 {
	width: 80%; 
	height: 18px; 
	background-color: #207809;
}

.bar-4 {
	width: 60%; 
	height: 18px; 
	background-color: #207809;
}

.bar-3 {
	width: 40%; 
	height: 18px; 
	background-color: #207809;
}

.bar-2 {
	width: 0%; 
	height: 18px; 
	background-color: #207809;
}

.bar-1 {
	width: 0%; 
	height: 18px; 
	background-color: #207809;
}

.square-check {
	color: #FFD100;
}

.text-grey {
	color: #989898;
}

.text-green {
	color: #207809;
}

.btn {
	background-color: #207809;
}

.text-btn {
	color: #FFFFFF;	
}

.bg-review{
	background-color: #E3EDE2;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #207809;
  border-radius: 50%;
  display: inline-block;
}

.row-review {
  @include zero-margin(20px,20px);
  min-height: 50px;
}

.text-reviewer {
	font-size: 25pt;
	color: #FFFFFF;
}

.my-rounded {
	border-radius: 10%;
}

.square {
  width: 100%;
	height: 100%;
	border-radius: 10%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.foto1{
	background-color: #000AE3;
}

.foto2{
	background-color: #1C759D;
}

.foto3{
	background-color: #FE0000;
}

.foto4{
	background-color: #43A251;
}

.foto5{
	background-color: #FFFF01;
}

.foto6{
	background-color: #C00000;
}

.foto7{
	background-color: #BFBFBF;
}

.foto8{
	background-color: #262626;
}

.foto9{
	background-color: #2191C3;
}

.text-foto {
	font-size: 22pt;
	color: #FFFFFF;
	@include zero-margin(40%,0px);
}

.nav-link{
	.active{
		color: green;
	}
}